<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/fonts/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <title>Новость создана!</title>
</head>
<body>

<div  style="width: 18rem; margin-top:5rem; margin-bottom:5rem; margin-left:200px;">
    <h2>Новость создана!</h2>
    <a href="/admin" ><button type="button" class="btn btn-primary">Вернуться на админ панель</button></a>
</div>
</body>