<html>
<head>
<body>

<div><h1>News № <?php echo $article[0]->id; ?></h1></div>
<div><h3> <?php echo $article[0]->title; ?></h3></div>
<ul>

    <li><div><?php echo $article[0]->content;  ?></div>
        <div></div>

    </li>
</ul>

</body>
</head>
</html>