<html>
<head>
</head>
<body>

<div><h1>Новость № <?php echo $this->article->id; ?></h1></div>
<div><h3> <?php echo $this->article->title; ?></h3></div>
<ul>

    <li><div><?php echo $this->article->content;  ?></div>
        <div></div>

    </li>
</ul>
<div>Потребление ресурсов:<?=  '  ' . SebastianBergmann\Timer\Timer::resourceUsage(); ?>
</div>
</body>

</html>